<!-- <h1>Login Page</h1>
<p>{{ message }}</p> -->
<div class="login-page">
    <div class="login-outer">
        <div class="login">
            <h1 class="logo"><a href="#">DEMO APP</a></h1>
            <div class="login-content">
                <div ng-controller = "LoginController">
                    <form name="form" ng-submit="login()" role="form">
                        <div class="row">
                            <div class="input-field">
                                <input type="text" id="username" name="username"  maxlength="50" class="input-text" ng-model="user.username" required />
                                <label for="username">Username</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field">
                                <input type="password" name="password" id="password" maxlength="70" class="input-text" ng-model="user.password" required />
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <!-- <div class="row">
                          <input name="keepmelogin" id="keepmelogin" type="checkbox" value="1" class="check">
                          <span>Keep me logged in</span>
                        </div> -->
                        <div class="row">
                            <div class="button-field">
                                <div class="pull-left">
                                    <button type="submit" class="button1">Login</button>
                                </div>
                                <div class="pull-right">
                                    <input type="button" class="forgot-pass" value="Forgot Password" id="btnforgetpass" />
                                </div>   
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>